<div id="appFooter" class="container-fluid footer d-flex flex-row p-3 p-md-5">
    
        
    <div class="flex-fill">
        <!-- <div> -->
      <img src="assets/white_logo.png" alt="logo_img"/>
      <p>© FindAcharya 2020</p>
    </div>

    <ul class="bd-footer-links flex-fill">
      <li><a href="">About us</a></li>
      <li><a href="">Contact usTwitter</a></li>
      <li><a href="">Terms and Conditions</a></li>
    </ul>

    <ul class="bd-footer-links flex-fill">
      <li><a href=""><i class="fa fa-facebook"></i>Facebook</a></li>
      <li><a href=""><i class="fa fa-twitter"></i>Twitter</a></li>
      <li><a href=""><i class="fa fa-instagram"></i>instagram</a></li>
    </ul>
   
    <p class="flex-fill address">
    497 Evergreen Rd. Roseville, CA 95673<br/>
+44 345 678 903<br/>
mail@mail.com
    </p>
</div>