@import "../../styles/colors";


.settingContent {
    padding: 5px;
    &.h4 {
        font-weight: 100;
        float: left;
    }
}


.langDropDown
{
    // width: 100px;
    height: 24px;
    // margin-right: 20px;
    height: 100px;
}

.iconFileUpload
{
    height: 32px;
    width: 300px;
    font-weight: bold;
    color: $body-text;
    padding-left: 10px;
    background-color: $gray-light;
    border: 1px solid #C3C3C3;
    opacity: 1;
    border-radius: 5px;
    margin-right: 5px;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.fileInput
{
    display: none;
}
i.fa-camera
{
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.fileInputName {
    width: 270px;
}   
.indusCheckBox
{
    padding-right: 0px;
}

.error-msg
{
    color: red;
    font-size : 15px;
    padding: 0 0 0 0;
    // margin-bottom: 14px;
    // margin-left: 360px;
}

.success-msg
{
    color: $gray-dark;
    font-size : 15px;
    font-weight: bold;
    padding: 0 0 0 0;
    // margin-bottom: 14px;
    // margin-left: 360px;
}
