.completeProf {
    background-color: white;
    box-shadow: 0px 6px 10px #6E6E6E29;
    padding: 0px;
    margin: 5px 5px 15px 5px;
    border-radius: 7px;
    min-height : 430px; 
    overflow : auto;
    padding: 10px 10px 20px 10px;
}
