$orange: #FF741C;
$orange-dark: #fd4e19;
$blue: #006eff;
$blue-dark: #0553e2;
$body-text: #464646;
$heading-text: #464646;
$link-color: #FF741C;
$gray: #C3C3C3;
//Added 
$login-blue: #117AB6;
$gray-dark: #909090;
$gray-light: #F5F5F5;
$gray-darkest: #646D82;
$gray-lighter: #A6B1C2;
 