
<h1 style=" text-align: center;">Choose a plan</h1>
<div class="clearfix"></div>

<div class="container" >
<div class="row justify-content-center mt-4">

    <div class="col-3" >
        <div class="default card buy-plan">
            <div class="card-text" >
                <ul class="plan-opt">
                    <li><h5><strong> Basic</strong></h5></li>
                    <li><h6><strong> Free</strong></h6></li>
                </ul>
            </div>
            <div class="mt-3 card-text">
                <ul class="plan-opt">
                    <li>Unlimited Domains</li>
                    <li>15 Domains Support</li>
                    <li>Free Wordpress theme</li>
                    <li>Copyright removal</li>
                    <li>Email support</li>
                    <li>Comment support</li>
                </ul>
            </div>
            <div class="mt-3 card-text">
                <h6 style="text-align: center;"><strong>Current Plan</strong></h6>
            </div>
        </div>
    </div>

    <div class="col-3" >
        <div class="default card buy-plan">
            <div class="card-text" >
                <ul class="plan-opt">
                    <li><h5><strong> Basic</strong></h5></li>
                    <li><h6><strong> Free</strong></h6></li>
                </ul>
            </div>
            <div class="mt-3 card-text">
                <ul class="plan-opt">
                    <li>Unlimited Domains</li>
                    <li>15 Domains Support</li>
                    <li>Free Wordpress theme</li>
                    <li>Copyright removal</li>
                    <li>Email support</li>
                    <li>Comment support</li>
                </ul>
            </div>
            <div class="mt-3 card-text">
                <h6 style="text-align: center;"><strong>Current Plan</strong></h6>
            </div>
        </div>
    </div>

    <div class="col-3" >
        <div class="default card buy-plan">
            <div class="card-text" >
                <ul class="plan-opt">
                    <li><h5><strong> Basic</strong></h5></li>
                    <li><h6><strong> Free</strong></h6></li>
                </ul>
            </div>
            <div class="mt-3 card-text">
                <ul class="plan-opt">
                    <li>Unlimited Domains</li>
                    <li>15 Domains Support</li>
                    <li>Free Wordpress theme</li>
                    <li>Copyright removal</li>
                    <li>Email support</li>
                    <li>Comment support</li>
                </ul>
            </div>
            <div class="mt-3 card-text">
                <h6 style="text-align: center;"><strong>Current Plan</strong></h6>
            </div>
        </div>
    </div>

</div>

</div>