<div class="settingContent">
    <h5 class="mb-4">Change Password</h5>
    <!-- <div class="clearfix"></div> -->
    <form [formGroup]="changePwdFrm" (ngSubmit)="OnClickUpdateSubmit(changePwdFrm)">

        <div class="row">
            <div class="col-md-4">
                <div><label for="">Current Password</label></div>
                <div><input type="password" class="txt-primary" name="currentPwd" formControlName="currentPwd"></div>
                <div formGroupName="password">
                    <div><label for="">New Password</label></div>
                    <div><input type="password"  class="txt-primary" name="newPwd" formControlName="newPwd"></div>
                    <div><label for="">Confirm Password</label></div>
                    <div><input type="password"  class="txt-primary" name="cnfrmPwd" formControlName="cnfrmPwd"></div>
                </div>
            </div>
            <div class="col-md-4 offset-md-3">
                <label>
                    Your password must be atleast 8 characters long,<br>
                    including a number,<br>
                    an upper case letter,<br>
                    a lower case letter,<br>
                    a special character.<br>
                    Ex - Find@acharya20

                </label>
            </div>

        </div>
        <div class="row justify-content-center" style="height: 25px;">
            <div *ngIf="errorMsg != ''" class="error-msg">&nbsp;{{errorMsg}}</div>
            <div *ngIf="errorMsg == ''" class="success-msg">&nbsp;{{successMsg}}</div>
        </div>
        <!-- <p class="error-msg">{{errorMsg}}</p> -->
        <div class="row justify-content-center mt-4">
            <button class="btn-primary mlr-40" name="changepwd">Update Password</button>
            <button class="btn-primary btn-cancel mlr-40" name="btnCancel" (click)="onClickCancel()" >Cancel</button>
        </div>

    </form>
</div>