<div class="container-fluid content">
    <!-- Header START -->
    <div class="header">
        <h4 class="inline-header">Chat Box</h4>
    </div>
    <div class="clearfix"></div>

    <div class="mt-3 row no-gutters chat">
        <!-- <div class="chat"> -->
            <div class="col-md-4 no-gutters">
                <div class="chat-card left-card">
                    <div class="chat-header">
                        <label class="title">All Messages</label>
                        <div id="name" class="dropdown">
                            <a class="new-btn" data-toggle="dropdown" href="#" id="newBtnDropDownMenu">
                                New<i class=""></i>
                            </a>
                                        
                            <div class="dropdown-menu" aria-labelledby="newBtnDropDownMenu">
                                <a class="dropdown-item" role="=button" (click)="selectedNewMentorClick(oneMent.mentorId)"
                                    *ngFor="let oneMent of allDBMentors">{{oneMent.mentorName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" placeholder="Search Mentor" class="txt-search1" />
                    </div>
                    <nav class="nav mentors-list" #mentorListNav>
                        <a [routerlink]="" role="button" *ngFor="let oneMent of allMentors" class="nav-link mentors"
                            [ngClass]="{'active-mentor' : selectedMentor.mentorId == oneMent.mentorId}"
                            (click)="onMentorClick(oneMent.mentorId)" id="{{oneMent.mentorId}}">
                            <div class="row no-gutters" >
                                <div class="col-md-1">
                                    <span *ngIf="oneMent.userOnline == true" class="userOnline"></span>
                                </div>
                                <div class="col-md-2 mentor-img">
                                    <!-- <img class="" src="../../assets/02.png" /> -->
                                    <img *ngIf="oneMent.avatarImg != null && oneMent.avatarImg != ''" class="avatar" [src]="oneMent.avatarImg" alt="First Slide" />
                                    <img *ngIf="oneMent.avatarImg == null || oneMent.avatarImg == ''" class="avatar" src="../../assets/defaultProfPic.png" alt="First Slide" />
                                </div>
                                <div class="col-md-7 mentor-name">
                                    <p class="name">{{oneMent.mentorName}}</p>
                                    <p class="title">{{oneMent.jobTitle}}</p>
                                </div>
                                <div class="col-md-2 chat-summary">
                                    <p *ngIf="oneMent.chatTime !== ''" class="chat-time">{{oneMent.formatChatTime}}</p>
                                    <p *ngIf="oneMent.unReadMessages > 0 && oneMent.unReadMessages <= 15" class="chatmsg-count">{{oneMent.unReadMessages}}</p>
                                    <p *ngIf="oneMent.unReadMessages > 15" class="chatmsg-count">\>15</p>
                                </div>
                            </div>
                        </a>
                    </nav>

                </div>
            </div>
            <div class="col-md-8 no-gutters">
                <div class="chat-card right-card">
                    <div class="chat-header borderbottom">
                        <label class="mentorTitle">{{selectedMentor.mentorName}}</label>
                        <div class="chat-buttons">
                            <!-- <a href="#" role="button" ><i class="fa video fa-video-camera" aria-hidden="true"></i></a>
                            <a href="#" role="button" ><i class="fa phone fa-phone" aria-hidden="true"></i></a>
                            <a href="#" role="button" ><i class="fa profile fa-info" aria-hidden="true"></i></a> -->
                        </div>
                    </div>
                    <div class="chat-content-area" #chatArea>
                        <div class="row no-gutters comment" *ngFor="let oneMsg of allMessages">
                            <div *ngIf="oneMsg.authorId != selectedMentor.mentorId" class="col-md-1 profile-img">
                                <!-- <img class="" [src]="selectedMentor.avatarImg"/> -->
                                <img *ngIf="profilePic != null && profilePic != ''" [src]="profilePic" />
                                <img *ngIf="profilePic == null || profilePic == ''" src="../../assets/defaultProfPic.png" />
                        </div>
                            <div class="col-md-11 float-left content-chat">
                                <p class="">{{formatMsgTime(oneMsg.chatTime)}}</p>
                                <p class="">{{oneMsg.chatMsg}}</p>
                            </div>
                            <div *ngIf="oneMsg.authorId == selectedMentor.mentorId" class="col-md-1 profile-img">
                                <!-- <img class="" src="../../assets/02.png"/> -->
                                <img *ngIf="selectedMentor.avatarImg != null && selectedMentor.avatarImg != ''" [src]="selectedMentor.avatarImg" />
                                <img *ngIf="selectedMentor.avatarImg == null || selectedMentor.avatarImg == ''" src="../../assets/defaultProfPic.png" />
                            </div>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <form [formGroup]="perMsgFrm" (ngSubmit)="onMsgSendClick(perMsgFrm)">
                            <textarea class="input-box" rows="3" maxlength=250 id="persMsg" [ngModel]="personalMessage" formControlName="persMsg"></textarea>
                            <div class="input-box-buttons">
                                <!-- <a href="#" disabled role="button" class="text"><i class=""></i></a>
                                <a href="#" disabled role="button" class="smiley"><i class=""></i></a>
                                <a href="#" disabled role="button" class="attach"><i class=""></i></a> -->
                                <!-- <a href="#" role="button" class="send" (click)="onMsgSendClick(perMsgFrm)"><i class=""></i></a> -->
                                <input type="button" class="send" (click)="onMsgSendClick(perMsgFrm)"/>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>