@import "../../styles/colors";


.settingContent {
    padding: 5px;
    &.h4 {
        font-weight: 100;
        float: left;
    }
}

.topicCheckBox
{
    padding-right: 0px;
}

.error-msg
{
    color: red;
    font-size : 15px;
    padding: 0 0 0 0;
    // margin-bottom: 14px;
    // margin-left: 360px;
}

.success-msg
{
    color: $gray-dark;
    font-size : 15px;
    font-weight: bold;
    padding: 0 0 0 0;
    // margin-bottom: 14px;
    // margin-left: 360px;
}
