<div class="d-block">
<span  class="fa fa-star fa-1x starStyle" [ngClass]="{'checked': rating >= 1, 'unchecked' : rating < 1}" ></span>
<span  class="fa fa-star fa-1x starStyle" [ngClass]="{'checked': rating >= 2, 'unchecked' : rating < 2}" ></span>
<span  class="fa fa-star fa-1x starStyle" [ngClass]="{'checked': rating >= 3, 'unchecked' : rating < 3}" ></span>
<span  class="fa fa-star fa-1x starStyle" [ngClass]="{'checked': rating >= 4, 'unchecked' : rating < 4}" ></span>
<span  class="fa fa-star fa-1x starStyle" [ngClass]="{'checked': rating >= 5, 'unchecked': rating < 5}" ></span>
</div>