<div class="container-fluid content">
    <!-- <div class="header"> commented -->  
      <h1>“Every day towards mastery”</h1>
      <div class="clearfix"></div>

      <!-- YOUR PROJECTS ROW START -->
      <div class="mt-4 row" >

        <!-- *** YOUR PROJECTS *** -->
          <div class="col-sm-9" >
              <div class="default card">
                  <div class="card-title h6">
                      <strong>Your Projects</strong>
                  </div>
                  <div class="mt-3 card-text">
                      <h6><strong> Development iOS and Android</strong></h6>
                      <p>Developer to help us design and develop a game in iOS and Android,
                           a full brief will be given once we find the right talent with the right experience and background.
                        </p>
                  </div>
                    <div class="mt-3 card-text">
                        <h6><strong>Game Development iOS and Android</strong></h6>
                        <p>Developer to help us design and develop a game in iOS and Android, a full brief will be given once we find the right talent with the right experience and background.</p>
                    </div>
                    <div class="mt-3 card-text">
                        <h6><strong>Game Development iOS and Android</strong></h6>
                        <p>Developer to help us design and develop a game in iOS and Android, a full brief will be given once we find the right talent with the right experience and background.</p>
                    </div>

              </div>

        </div>

        <!-- *** PROJECTS COMPLETED *** -->
        <div class="col-sm-3">
            <div class="default card">
                <div class="card-title h6"><strong>Projects Completed</strong></div>
            <p class="text-center"><strong><span class="completed">5</span><span class="total">/7</span></strong></p>
        </div>
        
        </div>

      </div>
      <!-- YOUR PROJECTS ROW END -->


        <!-- LEARNING PLAN ROW START -->
        <div class="mt-4 row" >

        <!-- *** LEARNING PLAN *** -->
            <div class="col-sm-9" >
                <div class="default card">
                    <div class="card-title h6">
                        <strong>Learning Plan</strong>
                    </div>
                    <div class="mt-3 card-text">
                        <h6><strong> Native development in IOS and Android</strong></h6>
                        <p>Developer to help us design and develop a game in iOS and Android,
                            a full brief will be given once we find the right talent with the right experience and background.
                        </p>
                    </div>
                </div>

        </div>

        <!-- *** LEARNING PLAN *** -->
        <div class="col-sm-3">
            <div class="default card">
                <div class="card-title h6"><strong>Learning Plan Completed</strong></div>
            <p class="text-center"><strong><span class="completed">3</span><span class="total">/4</span></strong></p>
        </div>

        </div>

        </div>
        <!-- LEARNING PLAN ROW END -->


    <!-- </div> -->
    <br>
    <br>
    <app-buy-plan></app-buy-plan>
    

</div>

